<div class="input" class="relative">
  <input
    [type]="inputType"
    [id]="label"
    class="w-full h-8 p-3 pt-4 placeholder-transparent border border-gray-200 rounded-md peer focus:outline-none focus:border-gray-300 focus:shadow-sm"
    placeholder="Name"
    autocomplete="off"
    [disabled]="disabled"
    [(ngModel)]="inputText"
    (ngModelChange)="onInputChanged()"
  />
  <label
    [htmlFor]="label"
    class="absolute top-0 left-0 text-slate-500 h-full px-3 py-1.5 text-sm transition-all duration-100 ease-in-out origin-left transform scale-75 translate-x-1 -translate-y-3 opacity-75 pointer-events-none peer-placeholder-shown:opacity-100 peer-focus:opacity-75 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-6 peer-placeholder-shown:translate-x-0 peer-focus:translate-x-1"
    >{{ label }}</label
  >
</div>
