<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<header class="flex justify-between items-center bg-white border-b p-2">
  <h1 class="text-2xl ml-3">Todo App</h1>
  <nav class="mr-3">
    <ul *ngIf="isLoggedOut">
      <li class="inline-block list-none px-2">
        <a [routerLink]="'login'" class="no-underline text-xl">Login</a>
      </li>
      <li class="inline-block list-none px-2">
        <a [routerLink]="'signup'" class="no-underline text-xl">Sign Up</a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn" class="flex items-center">
      <li class="inline-block list-none px-2 text-md">
        {{ (user$ | async)?.displayName }}
      </li>
      <li (click)="logout()" class="inline-block list-none px-2 cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
          />
        </svg>
      </li>
    </ul>
  </nav>
</header>
